<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.CategoryMapper">

    <select id="getAllCategories" resultType="com.ebock.business.Category">
        select *
        from category
        WHERE deleted_at IS NULL
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="category.categoryId">
        insert into category (name, parent_category) values (#{category.name}, #{category.parentCategory})
    </insert>

    <update id="update">
        update category set name = #{category.name}, parent_category=#{category.parentCategory} where category_id = #{category.categoryId}
    </update>

    <update id="delete">
        update category set deleted_at = now() where category_id = #{categoryId}
    </update>

</mapper>
