<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.DeliveryOptionMapper">

    <select id="getAllDeliveryOptions" resultType="com.ebock.business.DeliveryOption">
        select *
        from delivery_option
        WHERE deleted_at IS NULL
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="deliveryOption.deliveryOptnId">
        insert into delivery_option (name)
        values (#{deliveryOption.name})
        on conflict (name)
        do update set deleted_at = null, name = EXCLUDED.name;
    </insert>

    <update id="update">
        update delivery_option set name = #{deliveryOption.name}
        where delivery_optn_id = #{deliveryOption.deliveryOptnId}
    </update>

    <update id="delete">
        update delivery_option set deleted_at = now() where delivery_optn_id = #{deliveryOptionId}
    </update>

</mapper>
