<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.ItemMapper">

    <select id="getAllItemsInfo" resultType="com.ebock.dto.response.item.ItemResponse">
        select i.name,
               i.description,
               i.price,
               i.added_at,
               i.updated_at,
               i.quantity,
               i.category_id,
               i.wear_id,
               u.first_name,
               u.last_name
        from ebock.item i
                 inner join ebock.user_ u on i.seller_cip = u.cip
        where not sold
          and not archived
    </select>

    <select id="getAllItemsSeller" resultType="com.ebock.dto.response.item.ItemResponse">
        select i.name,
               i.description,
               i.price,
               i.added_at,
               i.updated_at,
               i.quantity,
               i.category_id,
               i.wear_id,
               u.first_name,
               u.last_name
        from ebock.item i
                 inner join ebock.user_ u on i.seller_cip = u.cip
        where i.seller_cip = #{cip}
          and not archived
    </select>

</mapper>
