<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.ItemMapper">

    <select id="getAllItemsInfo" resultType="com.ebock.business.Item">
        select name,
               description,
               price,
               added_at,
               updated_at,
               quantity,
               category_id,
               wear_id,
               seller_cip
        from ebock.item
        where not sold or not archived
    </select>

</mapper>
