<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.ItemMapper">

    <resultMap id="ItemResponseMap" type="com.ebock.dto.response.item.ItemResponse">
        <id property="itemId" column="item_id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="addedAt" column="added_at"/>
        <result property="quantity" column="quantity"/>
        <result property="categoryId" column="category_id"/>
        <result property="wearId" column="wear_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>

        <collection property="tags" ofType="java.lang.Integer" notNullColumn="tag_id">
            <result column="tag_id"/>
        </collection>
    </resultMap>

    <select id="getPaginatedItem" resultMap="ItemResponseMap">
        <bind name="offset" value="(pageNumber - 1) * pageSize" />

        WITH PaginatedItems AS (
            SELECT i.item_id,
                   i.name,
                   i.price::numeric AS price,
                   i.added_at,
                   i.quantity,
                   i.category_id,
                   i.wear_id,
                   i.seller_cip
            FROM ebock.item i
            WHERE i.sold = false AND i.archived = false
            ORDER BY i.item_id
            LIMIT #{pageSize} OFFSET #{offset}
        )

        SELECT p.*,
               u.first_name,
               u.last_name,
               it.tag_id
        FROM PaginatedItems p
        INNER JOIN ebock.user_ u ON p.seller_cip = u.cip
        LEFT JOIN ebock.tag_item it ON p.item_id = it.item_id
        ORDER BY p.item_id;
    </select>

    <select id="getAllItemsSeller" resultMap="ItemResponseMap">
        SELECT i.item_id,
               i.name,
               i.description,
               i.price,
               i.added_at,
               i.updated_at,
               i.quantity,
               i.category_id,
               i.wear_id,
               u.first_name,
               u.last_name,
               it.tag_id
        FROM ebock.item i
                 INNER JOIN ebock.user_ u ON i.seller_cip = u.cip
                 LEFT JOIN ebock.tag_item it ON i.item_id = it.item_id
        WHERE i.seller_cip = #{cip}
          AND NOT i.archived;
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="item.itemId">
        insert into ebock.item (name, description, price, added_at, updated_at, sold, quantity,
                                archived, category_id, wear_id, seller_cip)
        values (#{item.name}, #{item.description}, #{item.price}, now(), now(), false, #{item.quantity}, false,
                #{item.categoryId}, #{item.wearId}, #{item.sellerCip})
    </insert>

</mapper>