<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.ItemImageMapper">
    <insert id="insert">
        INSERT INTO ebock.item_image (item_id, guid, diaplayorder)
        VALUES
        <foreach collection="images" item="image" separator=",">
            (#{itemId}, #{image.guid}, #{image.displayorder})
        </foreach>
    </insert>
</mapper>