<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.PaymentOptionMapper">

    <select id="getAllPaymentOptions" resultType="com.ebock.business.PaymentOption">
        select *
        from ebock.payment_option
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="paymentOption.paymentOptnId">
        insert into ebock.payment_option (name)
        values (#{paymentOption.name})
    </insert>

    <update id="update">
        update ebock.payment_option set name = #{paymentOptionn.name}
        where payment_optn_id = #{paymentOption.paymentOptnId}
    </update>

</mapper>
