<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.UserMapper">

    <select id="getUserInfo" resultType="com.ebock.business.User">
        select cip,
               first_name,
               last_name,
               email,
               profile_picture_url
        from ebock.user_
        where cip = #{cip}
    </select>
    <insert id="createUser">
        INSERT INTO ebock.user_ (cip,
               first_name,
               last_name,
               email,
               is_admin,
               enabled,
               created_at,
               updated_at)
        VALUES (#{cip}, #{firstName}, #{lastName}, #{email}, false, true, now(), now());
    </insert>
    <update id="updateUser">
        UPDATE ebock.user_
        SET first_name = #{firstName},
            last_name = #{lastName},
            email = #{email},
            updated_at = now()
        WHERE cip = #{cip}
    </update>

</mapper>
