<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebock.mapper.WearMapper">

    <select id="getAllWears" resultType="com.ebock.business.Wear">
        select *
        from wear
        WHERE deleted_at IS NULL
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="wear.wearId">
        insert into wear (name) values (#{wear.name})
        on conflict (name)
        do update set deleted_at = null, name = EXCLUDED.name;
    </insert>

    <update id="update">
        update wear set name = #{wear.name} where wear_id = #{wear.wearId}
    </update>

    <update id="delete">
        update wear set deleted_at = now() where wear_id = #{wearId}
    </update>

</mapper>
